* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f9f9f9;
    color: black;
}

.header {
    text-align: center;
    padding: 20px 0;
    width: 100%;
    background: #4CAF50;
    color: white;
}

h2 {
    margin: 0;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 95%;
    margin: 20px auto;
    gap: 20px;
    height: 90vh;
}

.left-section, .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    height: 100%;
}

.left-section h3, .right-section h3 {
    text-align: center;
    margin: 10px;
    height: 5%;
}

textarea, #Assembly, #tokenizer-output, #parser-output {
    width: 95%;
    height: 82%;
    font-family: monospace;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: left;
    overflow-y: auto;
    white-space: pre-wrap;
}

button {
    margin-top: 10px;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
